{% extends "base.html" %}
{% block title %}
  Публикации в категории - {{ category_posts }}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <!--Нужно вывести список постов категории-->
    <h1> Публикации в категории - {{ category_posts }} </h1>   
  </div>
{% endblock %}


<!--По заданию вроде же, необорот не требуется выводить список постов-->

<!--На странице категории публикации пока выводить не надо; 
нужно вывести лишь значение category_slug из адреса. 
Например, для адреса http://127.0.0.1:8000/category/personal/ 
это будет — personal, а текст на странице тогда будет такой: 
“Публикации в категории - personal”.-->