{% extends "base.html" %}
{% block title %}
  Остров отчаянья. 25 октября 1659 года
{% endblock %}
{% block content %}
    <article>
      <ul>
        <li>
          Место: {{ post.location }}              
        </li>
        <li>
          Дата: {{ post.date }}
        </li>
        <li>
          <!--Не могу понять что это означает, и как исправить?-->
          <!--Нужно явно указать какой атрибут объекта передаем / выводим-->
          Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
        </li>
      </ul>         
      <p>
        {{ post.text|linebreaksbr }}
      </p>          
    </article>                
{% endblock %}